/* Bubble */
div.suggest-bubble { position: absolute; display: none; }
ul.suggest-list { background-color: white; border: solid 1px black; list-style-type: none; padding: 1px; }
ul.suggest-list li { list-style-type: none; cursor: pointer; padding: 2px; }
ul.suggest-list li.A { background-color: #ADF2A4; }
ul.suggest-list li:hover { background-color: #77B150; color: #fff; }
.suggest-bubble span.hilite { color: red; }
.suggest-bubble div.suggest-next-page { background-color: white; font-weight: bold; text-align: center; border: solid 1px black; font-size: 75%; }
.suggest-bubble div.suggest-next-page a { display: block; }
.suggest-bubble div.suggest-next-page a,
.suggest-bubble div.suggest-next-page a:hover,
.suggest-bubble div.suggest-next-page a:link,
.suggest-bubble div.suggest-next-page a:visited { color: black; }
/* /Bubble */

/* Field's bubble */
div.suggest-fields-bubble { display: none; position: absolute; background: url(../img/triangle-left.png) no-repeat left center; padding-left: 10px; }
div.suggest-fields-bubble * { border: none; }
div.suggest-fields-bubble div.suggest-fields-list { background-color: white; border: solid 1px black; -moz-border-radius: 8px; }
div.suggest-fields-bubble div.suggest-fields-list table { margin: 2px; }
/* /Field's bubble */

form .aligned ul.GenericSuggestField,   /* override the padding and margins from forms.css */
form .aligned ul.GenericSuggestFieldMultiple,   /* ditto */
ul.GenericSuggestField,
ul.GenericSuggestFieldMultiple { margin: 0; padding: 1px; border: solid 1px #ccc; background-color: white; float: left; width: 70%; vertical-align: middle; min-width: 300px; white-space: nowrap; }
ul.GenericSuggestField li,
ul.GenericSuggestFieldMultiple li { display: inline; padding: 2px; list-style-type: none; }
ul.GenericSuggestField input,
ul.GenericSuggestFieldMultiple input { border: none; width: auto; margin: 0; }
li.suggest-selected-item { background-color: #77B150; color: #fff; margin: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
li.suggest-selected-item a.suggest-delete-link { cursor: pointer; margin: 0 2px; color: red; font-weight: bold; }

/* related lookup icon */
a.suggest-related-lookup { float: left; padding: 1px 2px; }
.clearfix { clear: both; }
