/* TOP NAVIGATION */
#navi-top {
    background: #E9E8DD url(../img/nav-bg.gif) bottom left repeat-x;
    height: 24px;
    padding:0;
    border-bottom: 1px solid #999;
}
ul#menu-top * {
    margin:0; padding: 0;
    list-style:none;
    text-decoration: none;
}
ul#menu-top {
    height: 23px;
    margin: 0; padding-left:5px;
    list-style: none;
}
ul#menu-top li {
    float: left;
    position: relative;
    line-height:24px;
}
ul#menu-top ul li {
    float: none;
    padding-right:10px;
    _padding: 0;
}
ul#menu-top li ul {
    display: none;
    position: absolute;
    width: 170px;
    left: 0; top: 24px;
    filter: alpha(opacity=93);
    opacity: .93;
}
ul#menu-top li:hover ul {
    display: block;
    z-index: 10000;
    border: 1px solid #666;
    border-color: #ccc #666 #666 #ccc;
}
ul#menu-top a, ul#menu-top a:link, ul#menu-top a:visited {
    padding: 0px 5px;
    _padding-bottom: 2px;
    display: block;
    color: #666;
    border: none; border-right: 1px solid #999;
    background: #E9E8DD url(../img/nav-bg.gif) bottom left repeat-x;
    cursor: pointer;
}
ul#menu-top a:hover {
    background: #77B150;
    color: #fff;
}
ul#menu-top ul a, ul#menu-top ul a:link, ul#menu-top ul a:visited {
    background-image: none;

    width: 100%;
    padding: 0 5px;
    border:none;
    border-bottom: 1px solid #999;
}
