    <input type="hidden" name="choices_widget" value="{{ id_prefix }}" />
    {% for choice in choices %}
        <div class="poll-choice-container">
            <div class="poll-choice-text-container">
                <p class="poll-choice-text">
                    <a class="js-delete-poll-choice">{% trans "Delete" %}</a>
                    
                    <input 
                        type="hidden"
                        value="{{ choice.pk }}"
                        name="{{ id_prefix }}-id"
                    />
                    
                    <textarea
                        name="{{ id_prefix }}"
                        rows="5"
                        cols="35"
                        class="js-edit-poll-choice-text"
                    >{{ choice.choice }}</textarea>
                    <a class="js-edit-poll-choice-text">
                        <span title="{% if not choice.votes %}0{% else %}{{ choice.votes }}{% endif %} {% trans 'Votes' %}">{{ choice.choice }}</span>
                    </a>
                </p>
                
                <p class="poll-choice-text-extras">
                    <input
                        class="poll-choice-points"
                        type="text"
                        size="4"
                        name="{{ id_prefix }}-points"
                        value="{{ choice.points }}"
                    />
                    <span><a class="poll-choice-points">{{ choice.points }}</a></span>
                    <span>{% trans "Points" %}</span>
                </p>
                <div class="cb"></div>
            </div>
            <input 
                type="hidden"
                size="4"
                value="{% if not choice.votes %}0{% else %}{{ choice.votes }}{% endif %}"
                class="poll-option-votecount"
            />
            <input 
                type="hidden"
                name="{{ id_prefix }}-{{ forloop.counter }}-DELETE"
                value="off"
                class="poll-choice-delete-input"
            />
        </div>
    {% endfor %}
