    <input type="hidden" name="choices_widget" value="{{ id_prefix }}" />
    {% for choice in choices %}
        <div class="js-poll-choice-container">
            <div class="js-poll-choice-text-container">
                <p class="js-poll-choice-text">
                    <a class="js-delete-poll-choice icn cancel">{% trans "Delete" %}</a>

                    <input
                        type="hidden"
                        value="{{ choice.pk }}"
                        name="{{ id_prefix }}-id"
                    />

                    <textarea
                        name="{{ id_prefix }}"
                        rows="5"
                        cols="35"
                        class="js-edit-poll-choice-text"
                    >{{ choice.choice }}</textarea>
                    <a class="js-edit-poll-choice-text icn eclear">
                        <span title="{% if not choice.votes %}0{% else %}{{ choice.votes }}{% endif %} {% trans 'Votes' %}"{% if choice.choice %}{% else %} class="empty-poll-choice"{% endif %}>
                            {% if choice.choice %}{{ choice.choice }}{% else %}{% trans "Click to edit option" %}{% endif %}
                        </span>
                    </a>
                </p>
                <p class="js-poll-choice-text-extras">
                    <input
                        class="js-poll-choice-points"
                        type="text"
                        size="4"
                        name="{{ id_prefix }}-points"
                        value="{{ choice.points }}"
                    />
                    <span><a class="js-poll-choice-points icn eclear">{{ choice.points }}</a></span>
                    <span>{% trans "Points" %}</span>
                </p>
                <p class="js-poll-choice-right-answer">
                    <a class="js-reset-poll-right-answer">{% trans "Mark as correct" %}</a>
                </p>

                <div class="cb"></div>
            </div>
            <input
                type="hidden"
                size="4"
                value="{% if not choice.votes %}0{% else %}{{ choice.votes }}{% endif %}"
                class="js-poll-choice-votecount"
            />
            <input
                type="hidden"
                name="{{ id_prefix }}-{{ forloop.counter }}-DELETE"
                value="off"
                class="js-poll-choice-delete-input"
            />
        </div>
    {% endfor %}
