{% load debug %}
<h2>Context</h2>
<p>
<span style="cursor: pointer;" onclick="document.getElementById('debugContextTable').style.display='';">Show</span>
</p>
<table id="debugContextTable" style="display: none;" border="1">
<tr><th>Name</th><th>Value</th></tr>
{% for d in context %}
    {# <tr><th colspan="2">{{ forloop.counter }}</th></tr> #}
    {% for key, value in d.items %}
        <tr>
            <th>{{ key|escape|linebreaks }}</th>
            <td>{{ value|pprint|spaces_and_commas|escape|linebreaks }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</table>

