Source: centrum-ella
Section: python
Priority: optional
Maintainer: Jakub Vysoky <jakub.vysoky@netcentrum.cz>
Uploaders: Jakub Vysoky <jakub.vysoky@netcentrum.cz>, Honza Kral <honza.kral@netcentrum.cz>
Build-Depends: cdbs (>= 0.4.41), debhelper (>= 5.0.37.2), python-dev, python-support (>= 0.3)
Standards-Version: 3.7.2

Package: centrum-ella
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, centrum-django, python-markdown, python-feedparser
Description: Ella - Django Content Management System


