<h2>{{ apple }}</h2>

<p>Tohle je {{ apple }}.</p>

<hr />

{% load comments %}
{% get_comment_count for apple as comment_count %}

<p>pocet prispevku: {{ comment_count }}</p>

{% get_comment_list for apple as comment_list %}
<ol>
{% for comment in comment_list %}
<li>
<h4>{{ comment }}</h4>
<div id='id_comment_{{ comment.id }}'>
    {% if comment.is_authorized %}
    <p>author: {{ comment.user.username }} - authorized</p>
    {% else %}
    <p>author: {{ comment.nickname }} - unauthorized</p>
    {% endif %}
    <p>submit: {{ comment.submit_date }}</p>
    <p>{{ comment.content }}</p>

</div>
</li>
{% endfor %}
</ol>

<hr />

<form action="/comments/" method="post" id="comment_form">
<table>
{% get_comment_form for apple with 'LO' as comment_form %}
{{ comment_form }}
</table>
<input type="submit" name="Comment" value="Comment" />
</form>

<hr />

<p><a href="..">back</a></p>


{% comment %}
<form action="/comments/" method="post" id="comment_form">
<form action="./comment/add/" method="post" id="comment_form">

<pre>
{% debug %}
</pre>
{% endcomment %}

