<div class="filter" style="">
    <h4><a class="btn combo{% if spec.filter_active %} filter-active{% endif %}">{% blocktrans with title as filter_title %}By {{ filter_title }}{% endblocktrans %}</a></h4>
    {% if spec.filter_active %}{{ spec.get_selected.display }} {% endif %}
    <ul class="js-hashadr-container">
    {% for choice in choices %}
        {% if forloop.first %}
            {% if not choice.selected %}
                <li><a href="{{ choice.query_string|iriencode }}{% if is_popup %}&pop{% endif %}" title="{{ choice.display }}">{% trans 'All' %}</a></li>
            {% endif %}
        {% else %}
            <li{% if choice.selected %} class="selected"{% endif %}>
            <a href="{{ choice.query_string|iriencode }}{% if is_popup %}&pop{% endif %}">{{ choice.display }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
