{% load newman_frontend_tags %}
<div class="fe-admin-toolbar">
    <div class="toolbar">
		<p>
			Uživatel/ka: <strong>{{ user.get_full_name }}</strong>
			(<a href="{{ newman_index_url }}">přejít do adminu</a> | <a id="js-newman-logout-button" class="newman-logout-button" href="{% newman_frontend_logout %}">odhlásit se</a>)
		</p>

{% if object %}

  {% if placement.listing_set.count %}
    {% comment %}
    <div class="listings-container">
        <ul class="listings">
          <li><p>
      publikováno od: <strong>{{ object.publish_from|date:"d.m.Y H:i:s" }}</strong>
          </p></li>
          {% for l in placement.listing_set.all %}
            <li><p>{{ l.publish_from|date:"d.m.Y H:i:s" }} | {{ l.category }}</p></li>
          {% endfor %}
        </ul>
    </div>
    {% endcomment %}


    {% comment %}
    <select>
      <option>výčty...</option>
      {% for l in placement.listing_set.all %}
        <option>{{ l.publish_from|date:"d.m.Y H:i:s" }} | {{ l.category }}</option>
      {% endfor %}
    </select>
    {% endcomment %}
  {% endif %}

  <p>
  {% if object.content_type %}
    {% trans object.content_type.name %}:
    <strong>{{ object }}</strong>,
    zobrazení: <strong>{{ hitcount.hits }}</strong>
  {% endif %}
  </p>
  
  <p><a class="newman-edit-button" href="{{ newman_object_url }}">Editovat článek</a>
  {% if newman_comment_moderation_url %}
    <a class="newman-edit-button" href="{{ newman_comment_moderation_url }}">Moderovat komentáře</a>
  {% endif %}
  </p>
{% endif %}


{% comment %}
{% if positions %}
  <a href="http://localhost:3001/#/positions/position/category/{{ category.pk }}/" title="Upravit pozice">Pozice v kategorii {{ category.title }}</a>:
  {% for p in positions %}
    {{ p.name }}: {{ p.target }},
  {% endfor %}
{% endif %}
{% endcomment %}

{# NEWMAN_MEDIA_URL #}
    </div>
</div>