{% load newman_frontend_tags %}
<div class="fe-admin-toolbar">

<p>Přihlášen/a jako admin: 
    <strong style="font-weight:bold">{{ user.get_full_name }}</strong> 
    (<a href="{% newman_frontend_logout %}">odhlásit</a>)
</p>

<p>
{% if object %}
  {% trans object.content_type.name %}:
  <strong style="font-weight:bold">{{ object }}</strong>,
  návštěv: <strong style="font-weight:bold">{{ hitcount.hits }}</strong>,
  publikováno od: <strong style="font-weight:bold">{{ object.publish_from|date:"d.m.Y H:i:s" }}</strong>

  {% if placement.listing_set.count %}
    <ul class="listings">
    {% for l in placement.listing_set.all %}
      <li>{{ l.publish_from|date:"d.m.Y H:i:s" }} | {{ l.category }}</li>
    {% endfor %}
    </ul>
    {% comment %}
    <select>
      <option>výčty...</option>
      {% for l in placement.listing_set.all %}
        <option>{{ l.publish_from|date:"d.m.Y H:i:s" }} | {{ l.category }}</option>
      {% endfor %}
    </select>
    {% endcomment %}
  {% endif %}

  <button onclick="location.href='{{ newman_object_url }}'"><span>Edituj</span></button>
{% endif %}


{% if positions %}
  <a href="http://localhost:3001/#/positions/position/category/{{ category.pk }}/" title="Upravit pozice">Pozice v kategorii {{ category.title }}</a>:
  {% for p in positions %}
    {{ p.name }}: {{ p.target }},
  {% endfor %}
{% endif %}
</p>

{# NEWMAN_MEDIA_URL #}

</div>
