{% spaceless %}
<ul class="items">
    <li style="background-image: url({{ NEWMAN_MEDIA_URL }}ico/64/kfm_home.png);">
        <a title="{% trans 'Home' %} (Ctrl+0)" class="app home" href="#" accesskey="0"><span>{% trans 'Home' %}</span></a>
    </li>
    {% for fav in favs %}
        <li style="background-image: url({{ NEWMAN_MEDIA_URL }}ico/ct/64/{{ fav.model }}.png);">
            <a title="{{ fav.name }} (Ctrl+{{ forloop.counter }})" class="app {{ fav.model }}" href="#/{{ fav.admin_url }}" accesskey="{{ forloop.counter }}"><span>{{ fav.name }}</span></a>
            {% if fav.perms.add %}<a class="add" href="#/{{ fav.admin_url }}add/" title="{% trans 'Add' %}"></a>{% endif %}
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
