<ul id="menu-top">
    <li><a href="{% url newman_admin_index %}" style="padding: 3px 5px 2px 5px;"><img src="{{ NEWMAN_MEDIA_URL }}ico/16/gohome.png" style="border:none;" alt="{% trans 'Home' %}"/></a></li>
    {% for app in app_list %}
    <li><a href="#/{{ app.name|lower }}/">{% trans app.name %}</a>
        <ul>
          {% for model in app.models %}
              {% if model.perms.add and model.perms.change %}
                  <li><a href="#/{{ model.admin_url }}">{{ model.name }}</a></li>
              {% else %}
                        {% if model.perms.add or model.perms.change %}
                            {% if model.perms.add %}
                                <li><a href="#/{{ model.admin_url }}add/">{{ model.name }} (+)</a></li>
                            {% else %}
                                <li><a href="#/{{ model.admin_url }}">{{ model.name }}</a></li>
                            {% endif %}
                        {% endif %}
              {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
