{% load newman_frontend_tags %}
<div class="fe-admin-toolbar">
    <div class="toolbar">

<p>Přihlášen/a jako admin: 
    <strong style="font-weight:bold">{{ user.get_full_name }}</strong> 
    (<a id="js-newman-logout-button" href="{% newman_frontend_logout %}"><strong>odhlásit</strong></a>)
</p>

{% if object %}

  {% if placement.listing_set.count %}
    {% comment %}
    <div class="listings-container">
        <ul class="listings">
          <li><p>
      publikováno od: <strong style="font-weight:bold">{{ object.publish_from|date:"d.m.Y H:i:s" }}</strong>
          </p></li>
          {% for l in placement.listing_set.all %}
            <li><p>{{ l.publish_from|date:"d.m.Y H:i:s" }} | {{ l.category }}</p></li>
          {% endfor %}
        </ul>
    </div>
    {% endcomment %}


    {% comment %}
    <select>
      <option>výčty...</option>
      {% for l in placement.listing_set.all %}
        <option>{{ l.publish_from|date:"d.m.Y H:i:s" }} | {{ l.category }}</option>
      {% endfor %}
    </select>
    {% endcomment %}
  {% endif %}

  <p>
  {% if object.content_type %}
    {% trans object.content_type.name %}:
    <strong style="font-weight:bold">{{ object }}</strong>,
    návštěv: <strong style="font-weight:bold">{{ hitcount.hits }}</strong>
  {% endif %}
  </p>
  
  <div style="float: right;">
  <button onclick="location.href='{{ newman_object_url }}'"><span>Edituj</span></button>
  </div>
{% endif %}


{% comment %}
{% if positions %}
  <a href="http://localhost:3001/#/positions/position/category/{{ category.pk }}/" title="Upravit pozice">Pozice v kategorii {{ category.title }}</a>:
  {% for p in positions %}
    {{ p.name }}: {{ p.target }},
  {% endfor %}
{% endif %}
{% endcomment %}

{# NEWMAN_MEDIA_URL #}
    </div>
</div>
