{% extends "admin/base_site.html" %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}

{% block content_title %}<h1>cache status ({{ time }})</h1>{% endblock %}

{% block content %}
{% for stats in all_stats %}
    <h2>{{ stats.host }}</h2>
    {% if stats.connected %}
        <ul>
        <li>memory usage:
            {{ stats.bytes|filesizeformat }}
        <li>keys in cache:
            {{ stats.curr_items }} of {{ stats.total_items }}
        <li>cache hits:
            {{ stats.get_hits }} of {{ stats.cmd_get }}:
            <b>{{ stats.hit_rate }}%</b>
        <li>cache traffic:
            {{ stats.bytes_read|filesizeformat }} in,
            {{ stats.bytes_written|filesizeformat }} out
        <li>uptime: {{ stats.uptime }}
        </ul>

        <pre>
        pid                   {{ stats.pid }}
        uptime                {{ stats.uptime }}
        time                  {{ stats.time }}
        version               {{ stats.version }}
        rusage_user           {{ stats.rusage_user }}
        rusage_system         {{ stats.rusage_system }}
        curr_items            {{ stats.curr_items }}
        total_items           {{ stats.total_items }}
        bytes                 {{ stats.bytes }}
        curr_connections      {{ stats.curr_connections }}
        total_connections     {{ stats.total_connections }}
        connection_structures {{ stats.connection_structures }}
        cmd_get               {{ stats.cmd_get }}
        cmd_set               {{ stats.cmd_set }}
        get_hits              {{ stats.get_hits }}
        get_misses            {{ stats.get_misses }}
        evictions             {{ stats.evictions }}
        bytes_read            {{ stats.bytes_read }}
        bytes_written         {{ stats.bytes_written }}
        limit_maxbytes        {{ stats.limit_maxbytes }}
        </pre>
    {% else %}
        <pre>connection not available</pre>
    {% endif %}
{% endfor %}
{% endblock %}

