/* Please try keep all stylesheets in one file */

/* primitives */
.cb { clear: both; }
.ar { text-align: right; }

a, a:link, a:visited { color: #005F00; cursor: pointer; }
a:hover { color: #6EA63A; }
a img { border: none; }

p, ul, ol, h1, h2, h3, h4, h5 { margin: .2em 0; }
ul, ol { margin-left: 2em; }

.noscreen { display: none; }

/* base default layout */
* { margin: 0; padding: 0; }

body {
    font: normal normal 75%/130% Tahoma, sans-serif;
    background: #E9E8DD;
    margin-top: 105px;
    overflow: hidden;
}

#container, .favs, #menu-top { min-width: 940px; }

#header { position: fixed; top: 0; left: 0; width: 100%; z-index: 1; }

/* Dynamic */

.blink {
    background-color: #FFEEEE;
    outline: solid 1px red;
}

.loading { opacity: .3; }

.overlay { position: fixed; }
.overlay .overlay-upbar {
    height: 30px;
    width: 100%;
    background-color: blue;
}
.overlay .overlay-title {
    float: left;
    padding-top:6px;
    color:white;
    font-size:16px;
    font-weight:bold;
}
.overlay .overlay-closebutton {
    float: right;
}

.error-code object {
    border: solid 3px gray;
}

#branding {
    float: left;
}
#user-tools {
    margin-top: 5px;
    float: right;
}

/* BREADCRUMBS */
div.breadcrumbs {
    background: #eee url(../img/nav-bg.gif) 0 0 repeat-x;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 3px 5px;
    overflow: auto;
    font-size: 95%;
}

/* FAVORITE ITEMS */
.favs {
    background: #333 url(../img/bg-favs.png) 0 0 repeat-x;
    height: 76px;
    padding: 2px 5px;
}

.favs.collapsed {
    height: 6px;
    overflow: hidden;
}
.favs ul.items {
    float: left;
    list-style: none;
    margin: 0; padding: 0;
    font: normal 90% "Trebuchet MS", Arial, Helvetica, sans-serif;

}
.favs ul.items li {
    float: left;
    margin: 0 2px;
    padding: 0;
    width: 80px;
    height: 78px;
    background: transparent url(../ico/ct/64/unknown.png) 50% 0 no-repeat;
    opacity: .8;
    text-align: center;
    position: relative;
}
.favs ul.items li:hover { opacity: 1; }
.favs a { text-decoration: none; color: #fff; }
.favs ul.items li a.app { display: block; width: 80px; height: 78px; position: relative; }
.favs ul.items li a.app span {
    background: #000;
    font-weight: bold;
    opacity: .5;
    position: absolute; bottom: 0; left: 0; width: 80px;
}
.favs ul.items li a.app:hover span { opacity: .9 }
.favs ul.items li a.add {
    position: absolute;
    top: 0; right: 0;
    display: block;
    width: 20px; height: 20px;
    background: url(../ico/16/edit_add.png) 100% 50% no-repeat;
    opacity: .6;
}
.favs ul.items li a.add:hover { opacity: 1; }
.favs ul.tools {
    float: right;
    list-style: none;
    font: normal 130%/150% "Trebuchet MS", sans-serif;
}

/* CONTENT */
#content { padding-bottom: 40px; }

/* CONTENT TOOLBAR */
#content-toolbar * { vertical-align: middle; }
#content-toolbar {
    background: #eee;
    width: 100%;
}
#content-toolbar td { border: none; }

a.bl {
    display: block;
}
a.icn {
    padding-left: 20px;
    background: transparent url(../ico/16/foo.png) 0 50% no-repeat;
}
a.btn {
    padding-top: 4px; padding-bottom: 3px; padding-right: 4px;
    /*BUTTON FACELIFT border: 1px solid #ddd;*/
    border: 1px solid #777;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;
    /*BUTTON FACELIFT background-color: #E9E8DD;*/
    background-color: #FFF;
    margin: 3px 2px;
    text-decoration: none;
    color: #000;
}
a.btn.def {
    font-weight: bold;
    /*BUTTON FACELIFT border-color: #ccc;*/
}
a:hover.btn {
    /*BUTTON FACELIFT background-color: #EEEEE7;*/
    border-color: #77B150;
    color: #005F00;
}

a.btn.icn {
    background-position: 3px 50%;
    padding-left: 23px;
}

a.icn.logout { background-image: url(../ico/16/logout.png); }
a.icn.config { background-image: url(../ico/16/configure.png); }
a.icn.addfav { background-image: url(../ico/16/bookmark_add.png); }
a.icn.eclear { background-image: url(../ico/16/editclear.png); }
a.icn.home { background-image: url(../ico/16/gohome.png); }
a.icn.ok { background-image: url(../ico/16/ok.png); }
a.icn.cancel { background-image: url(../ico/16/cancel.png); }
a.icn.recur { background-image: url(../ico/16/recur.png); }
a.icn.na { background-image: url(../ico/16/na.png); }
a.icn.search { background-image: url(../ico/16/search.png); }
a.icn.filter { background-image: url(../ico/16/filter.png); }
a.icn.add { background-image: url(../ico/16/edit_add.png); }
a.icn.visible { background-image: url(../ico/16/14_layer_visible.png); }
a.icn.novisible { background-image: url(../ico/16/14_layer_novisible.png); }
a.icn.history { background-image: url(../ico/16/history.png); }
a.icn.web { background-image: url(../ico/16/web.png); }
a.icn.default-button-ok { background-color: #59EA3A; color: black; border-width: 2px;}
a.icn.save { background-image: url(../ico/16/filesave.png); }
a.icn.saveas { background-image: url(../ico/16/filesaveas.png); }
a.icn.saveall { background-image: url(../ico/16/save_all.png); }
a.icn.edit { background-image: url(../ico/16/edit.png); }
a.icn.help { background-image: url(../ico/16/help.png); }
a.icn.idea { background-image: url(../ico/16/idea.png); }
a.icn.timeline { background-image: url(../ico/16/7days.png); }

a.btn.combo {
    padding-right: 18px; padding-left: 4px;
    background: #E9E8DD url(../ico/16/14_layer_lowerlayer.png) 100% 50% no-repeat;
}
a.btn.filter-active { background-color: #FFF8D1; }

/* HOMEPAGE CALENDAR */
.hpbox.calendar .cal { display: none; }

/* FOOTER */

#footer {
    background:#eee url(../img/nav-bg-reverse.gif) bottom left repeat-x;
    position: fixed; left: 0; bottom: 0; right: 0;
    clear: both;
    border-top: 1px solid #ccc;
    padding: 5px;
    text-align: right;
}

/* FORMS */
fieldset, legend { border: 1px solid #ddd; padding: 5px; -moz-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px; background: #fff; }
legend { padding: 2px 5px; }
.inline-group fieldset { margin: 10px; }
.inline-group legend { font-weight: bold; font-size: 120%; }
.inline-group fieldset fieldset { -moz-border-radius: 5px; border-radius: 5px; border:none; border-bottom: 1px dotted #ddd; margin: 5px; }
label { display: block; clear: both; margin: 5px 0 2px 0; }
label.vCheckboxLabel { display: inline; margin-left: 10px; }
label.required { font-weight: bold; color: darkorange; }
label:hover { text-decoration: underline; }
div.submit-row, fieldset.submit-row { border: none; clear:both; margin-top: 5px; padding: 2px 0; text-align: right; }
input, textarea, select { padding: 3px 2px; font: normal 100% Tahoma, Verdana, sans-serif; border: 1px solid #666; -moz-border-radius: 3px; border-radius: 3px; -webkit-border-radius: 3px; }
.js-form .js-form-metadata { display: none; }
/* input.vTextField { width: 500px; } */
input.vIntegerField { width: 40px; text-align: right; }
input.vForeignKeyRawIdAdminField, input.target_id { width: 50px; }
input.vDateInput { width: 100px; }
input.vDateTimeInput { width: 130px; }
textarea.vLargeTextField { min-width: 400px; }

.form-row * { vertical-align: middle; margin: 2px 0; }
.form-row-tooltip { font-size: 95%; background: transparent url(../ico/16/idea.png) 0 50% no-repeat; clear: both; padding-left: 18px; color: #666; }

.form-error-msg { display: block; color: #d66; font-weight: bold; padding: 2px 0 2px 18px; background: url(../ico/16/messagebox_warning.png) 0 50% no-repeat; }
.non-field-errors {
    margin: 10px;
    padding: 3px;
    background-color: white;
    border: solid 1px red;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#changelist-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background-color: white;
    border: solid 2px blue;
    display: none;
}

#changelist-overlay #filters {
    top: 65px;
}
#err-overlay {
    bottom: 80px;
    right: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 2px solid #d66;
    padding: 5px;
    background: #fee;
}

#err-overlay p {
    cursor: pointer;
}
#err-overlay p:hover {
    text-decoration: underline;
}

/* FORMS : article change form */
.article-form-container { padding-left: 10px; }
.article-form-container .multicol { float: left; margin-right: 200px; }
/*.article-form-container .multicol.colX { margin-left: 200px; }*/
.article-form-container .multicol input { width: ; }
.article-form-container label { display: block; float: left; min-width: 100px; }
.article-form-container .publish-container label { float: none; }
.change-form .submit-row {
    position: fixed;
    bottom: 35px;
    right: 10px;
    border: 2px solid #d66;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    padding: 10px;
    background: #fff url(../img/nav-bg-reverse.gif) left top repeat-x;
}
.change-form .submit-row a {
    white-space: nowrap;
}

/* TEXTAREA EDIT TOOLBAR */
.change-form .js-textarea-toolbar {
    position: fixed;
    top: 105px;
    left: 10px;
    display: none;
    /*top: 80px;
    z-index: 9;*/
    border: none;
    padding: 5px;
    background: #fff url(../img/nav-bg-reverse.gif) left top repeat-x;
}
/* /TEXTAREA EDIT TOOLBAR */

/* TABLES */
table {
    border-collapse: collapse;
}
td, th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 3px;
}
.inline-group td, .inline-group th {
    border: none;
}

#changelist table {
    width: 100%;
}
#changelist table thead tr { background: #ddd url(../img/nav-bg.gif) 0 100% repeat-x; }
#changelist table tbody tr.row1 { background: #fff; }
#changelist table tbody tr.row2 { background: #eeeeef; }
#changelist table tbody tr:hover { background: #ffc; }
#changelist table thead th.sorted { background: transparent url(../ico/16/14_layer_raiselayer.png) 98% 50% no-repeat; }
#changelist table thead th.sorted.descending { background-image: url(../ico/16/14_layer_lowerlayer.png); }
#changelist table tbody th { font-size: 120%; }

/* CHANGELIST ACTIONS */
#changelist .actions { padding: 5px; }
#changelist .actions label { display: inline; }

#changelist p.paginator {
    text-align: right;
    background: #ddd url(../img/nav-bg-reverse.gif) 0 0 repeat-x;
    padding: 3px 5px;
}

p.paginator .this-page { font-weight: bold; font-size: 115%; }

/* publishable changelist */
a.cl-publishable-link { display: block; padding-left: 20px; background: transparent url(../ico/ct/16/publishable.png) 0 50% no-repeat; }
a.cl-publishable-link.quiz { background-image: url(../ico/ct/16/quiz.png); }
a.cl-publishable-link.gallery { background-image: url(../ico/ct/16/gallery.png); }
a.cl-publishable-link.article { background-image: url(../ico/ct/16/article.png); }
a.cl-publishable-link.interview { background-image: url(../ico/ct/16/interview.png); }
a.cl-publishable-link.contest { background-image: url(../ico/ct/16/contest.png); }
a.cl-publishable-link.media, a.cl-publishable-link.video { background-image: url(../ico/ct/16/video.png); }

/* OPERATION MESSAGES */
#opmsg {
    position: fixed;
    top: -10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}
#opmsg span {
    padding: 5px 5px 5px 22px;
    border: solid 1px black;
    font-weight: bold;
    line-height: 26px;
    white-space: nowrap;
    background: lightyellow url(../ico/16/info.png) 2px 50% no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

}
#opmsg span.errmsg {
    background-color: orange;
    background-image: url(../ico/16/messagebox_warning.png);
}
#opmsg span.okmsg {
    background-image: url(../ico/16/ok.png);
}


/* HELP & HINT */
.hint-enhanced .hint, .help-enhanced .help {
    display: none;
}

/* CHANGELIST FILTERS */
#filters {
    border: 1px outset #ddd;
    position: absolute;
    left: 6px; width: 70%;
    top: 55px;
    background: #eeeeec;
    display: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
}
div.pop #filters { top: 35px }

#filters div.module {
  margin: 5px;
  max-height: 200px;
  overflow: auto;
}

#filters div.filter {
    float: left;
    padding: 2px 0;
}

div.active-filters {
    background-color: #FFB040;
    padding: 5px;
}

div.active-filters span.filtered-by {
    font-size: 12pt;
    font-weight: bold;
}

div.active-filters span.filter-name {
    font-size: 10pt;
    font-weight: bold;
}

div.active-filters span.filter-value {
    font-size: 10pt;
    font-weight: bold;
}

/* CHANGELIST CUSTOM TDs */
#changelist td span.unpublished, #changelist td span.published {
    background: transparent url(../ico/10/icon-yes.gif) 0 50% no-repeat;
    padding-left: 17px;
}
#changelist td span.unpublished {
    background-image: url(../ico/10/icon-no.gif);
}

/* FILTERS (UN)PACKING - TEMPORARY */
#filters ul.js-hashadr-container {
    display: none;
    position: absolute;
    background-color: white;
    border: solid 1px #ddd;
    list-style: none;
    margin: 0;
}
#filters ul a { display: block; padding: 2px; border-bottom: 1px dotted #eee; }
#filters ul a:hover { color: #fff; background: #77B150; }
#filters .selected {
    font-weight: bold;
}

/* WIDGETS etc. */
span.widget-thumb img { border: 1px solid #ccc; margin-right: 5px; }

/* SORTABLE (common properties) */
.ui-sortable {
    min-width: 940px;
}

.sortable-item {
    border: 1px solid gray;
    background: rgb(255, 255, 238);
    overflow: auto;
    float: left;
    min-height: 200px;
    margin: 0 0 15px 5px;
}
.sortable-item { cursor: move; }
.sortable-item:hover { border-color: #77B150; }
/* /SORTABLE */

/* SORTABLE GALLERY ITEMS */
.gallery-items-sortable { background: #fff; border: 1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; }
.gallery-item , .gallery-add-item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    overflow: auto;
    float: left;
    max-width: 180px;
    max-height: 220px;
    background: #77B150;
}
.gallery-item img.thumb { float: left; width: 80px; margin-right: 10px; }
.gallery-item-error { background: #f66262 !important; }
.sortable-item .gallery-item { background: none; }
/*.sortable-item .gallery-item:hover { background: #77B150; }*/
.gallery-add-item {
    margin: 10px 0 10px 0;
    background: none;
    border: none;
}

/* POLLS QUESTIONS & ANSWERS */
.js-poll-question-container {
    margin: 5px; padding: 5px 0;
    border-bottom: solid 1px gray;
}
.js-poll-question-text-container {
    font-size: 120%;
    font-weight: bold;
    margin: 5px 0;
}
.js-poll-question-input {
    display: none;
}
.js-poll-choice-text textarea {
    display: none;
}
p.js-poll-choice-text {
    float: left;
    min-width: 200px;
    padding-right: 10px;
}
.empty-poll-choice {
    font-style: italic;
}
.poll-choice-deleted .empty-poll-choice {
    display: none;
}
p.js-poll-choice-text-extras {
    float: left;
    min-width: 100px;
    padding-right: 10px;
}
.poll-choice-deleted span {
    text-decoration: line-through;
}
.poll-choice-deleted .js-delete-poll-choice {
    text-decoration: none;
    font-weight: bold;
    background-color: yellow;
}
input.js-poll-choice-points {
    display: none;
}
.remaining-poll-question-inputs {
    border: solid 1px orange;
    display: none;
}

/* CUSTOM FORM IMPROVEMENTS */
#id_title { font: normal 140% "Trebuchet MS", arial, sans-serif; width: 70%; }
#id_upper_title, #id_slug, #id_link { font-size: 90%; width: 70%; color: #666; }

/* db_template form */
#dbtemplate_form #id_name { font: normal 140% "Trebuchet MS", arial, sans-serif; width: 90%; }
#dbtemplate_form #id_description, #dbtemplate_form #id_extends { width: 90%; }


fieldset.collapsed * { display: none; }
fieldset.collapse legend, fieldset.collapsed legend { display: block; padding-right: 20px; background: #fff url(../ico/16/14_layer_lowerlayer.png) 100% 50% no-repeat; cursor: pointer; }
fieldset.collapse legend { background-image: url(../ico/16/14_layer_raiselayer.png); }

.form-row { clear: both; }
.form-row-field.field-box { float: left; margin-right: 10px; }

/* OTHER */
#debug {
    position: fixed; top:0; left:0; right:0; bottom: 25px;
    background: #333; color: #fff;
    padding: 10px;
    z-index: 50; overflow: auto; opacity: .9; display: none;
}

/* TIMELINE */

.timeline-column {
    width: 180px;
    float: left;
    padding: 0 15px;
}

.timeline-table {
    min-width: 940px;
}

.timeline-item {
    border: 1px solid gray;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
    background: rgb(255, 255, 238);
    min-height: 80px;
    overflow: auto;
    margin-bottom: 5px;
    /*background: transparent url(../ico/16/foo.png) 0 50% no-repeat;
    opacity: .7;*/
}

.timeline-column p.description, .timeline-item div.timeline-item-header .counter {
    font-size: 14pt;
    font-weight: bold;
    color: #005F00;
    line-height: 1.2em;
}

.timeline-item-hitcounts {
    padding: 9px;
}

.timeline-item-navigation {
    padding: 9px;
    font-size: 9pt;
    font-weight: bold;
}

.timeline-ul { }

.timeline-ul .timeline-item span {
    color: #005F00;
    cursor: pointer;
}

.timeline-ul .timeline-item p, .timeline-item div.timeline-item-header  {
    padding: 4px 9px 0 9px;
}

.timeline-table .timeline-ul .timeline-item:hover {
    background: white;
    border: 1px solid #77B150;
}

/* /TIMELINE */

/* SERVICE DIALOGS (model help, history, delete confirmation, filters...) */
.service-module { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.8); z-index: 5; }
.service-module .service-module-in {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    background: #fff;
    font-size: 95%;
}

.service-module .cnt { margin: 5px 5px 30px 5px; overflow: auto; }
.service-module .submit-row { position: absolute; bottom: 10px; right: 5px; text-align: right; }

.service-module.model-help .service-module-in, .service-module.object-history .service-module-in, .service-module.change-password .service-module-in {
    border: 1px outset #ddd;
    position: absolute;
    top: 160px; right: 10px; min-width: 400px; width: 70%;
    background: #fff url(../img/horst1.jpg) left bottom no-repeat;
    height: 410px;
}
.service-module.change-password .service-module-in {
    top: auto; bottom: 50px; right: 10px; width: 600px; height: 400px;
}
.model-help .cnt, .object-history .cnt, .change-password .cnt {
    margin: 10px 10px 5px 200px;
    max-height: 360px;
}
 .change-password .cnt { max-height: 400px }
.service-module.model-log .service-module-in {
    position: absolute;
    top: 160px; right: 10px; width: 400px; height: 500px;
}
.model-log .cnt {
    max-height: 455px;
}

/* delete confirmation */
.delete-confirmation .service-module-in {
    position: absolute; bottom: 85px; right: 10px; width: 600px; height: 400px; background: #fff; border: 2px solid #d66;
}
.delete-confirmation .cnt { max-height: 355px; }


/* LOGIN PAGE */
.login { background: #000 url(../img/newman.jpg) bottom right no-repeat; position: fixed; top: 0; left: 0; bottom: 0; right: 0; line-height: 170%; }
.login .content-main { margin: 10em auto; padding: 5px; color: #fff; font-size: 150%; }
.login .browser-notice { width: 600px; margin: 0 auto 3em auto; padding: 10px; color: #000; font-size: 80%; -moz-border-radius: 5px; -webkit-border-radius: 5x; -khtml-border-radius: 5px; border-radius: 5px; background: #dbba30; }
.login .browser-notice h3 { margin-bottom: .4em; font-weight: bold; color: #ba0808; }
.login .errornote { width: 400px; margin: 0 auto 1em auto; padding: 5px; color: #c66; font-size: 80%; -moz-border-radius: 5px; -webkit-border-radius: 5x; -khtml-border-radius: 5px; border-radius: 5px; background: #ffc; }
.login .login-form { width: 400px; margin: 0 auto; }
.login input.text { width: 98%; background: #fff; }
.login input.submit { font-size: 150%; }
/* /LOGIN PAGE */