/* Please try keep all stylesheets in one file */

/* primitives */
.cb { clear: both; }
.ar { text-align: right; }

a, a:link, a:visited {
    color: #005F00;
    cursor: pointer;
}
a:hover {
  color: #6EA63A;
}
a img {
    border: none;
}

p, ul, ol, h1, h2, h3, h4, h5 { margin: .2em 0; }

ul, ol {
    margin-left: 2em;
}

/* base default layout */
* { margin: 0; padding: 0; }

body {
    font: normal normal 75%/130% Tahoma, sans-serif;
    background: #E9E8DD;
    margin-top: 105px;
}

#container, .favs, #menu-top { min-width: 940px; }

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

/* Dynamic */

.loading { opacity: .3; }

.overlay {
    position: fixed;
}
.overlay .overlay-upbar {
    height: 30px;
    width: 100%;
    background-color: blue;
}
.overlay .overlay-title {
    float: left;
    padding-top:6px;
    color:white;
    font-size:16px;
    font-weight:bold;
}
.overlay .overlay-closebutton {
    float: right;
}

.error-code object {
    border: solid 3px gray;
}

#branding {
    float: left;
}
#user-tools {
    margin-top: 5px;
    float: right;
}

/* BREADCRUMBS */
div.breadcrumbs {
    background: #eee url(../img/nav-bg.gif) 0 0 repeat-x;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 3px 5px;
    overflow: auto;
    font-size: 95%;
}

/* FAVORITE ITEMS */
.favs {
    background: #333 url(../img/bg-favs.png) 0 0 repeat-x;
    height: 76px;
    padding: 2px 5px;
}

.favs.collapsed {
    height: 6px;
    overflow: hidden;
}
.favs ul.items {
    float: left;
    list-style: none;
    margin: 0; padding: 0;
    font: normal 90% "Trebuchet MS", Arial, Helvetica, sans-serif;

}
.favs ul.items li {
    float: left;
    margin: 0 2px;
    padding: 0;
    width: 80px;
    height: 74px;
    background: transparent url(../ico/ct/64/unknown.png) 50% 0 no-repeat;
    opacity: .8;
    text-align: center;
}
.favs ul.items li:hover { opacity: 1; }
.favs a {
    text-decoration: none;
    color: #fff;
}
.favs ul.items li a.app {
    display: block;
    width: 80px;
    height: 62px;
    position: relative;
}
.favs ul.items li a.app span {
    background: #000;
    font-weight: bold;
    opacity: .6;
    position: absolute; bottom: 0; left: 0; width: 80px;
}
.favs ul.items li a.app:hover span {
    opacity: .9
}
.favs ul.items li a.add {
    background: #000;
    display: block;
    opacity: .6;
}
.favs ul.items li a.add span {
    margin: auto;
    padding-left: 13px;
    text-align: left;
    background: #000 url(../ico/10/icon_addlink.gif) 0 50% no-repeat;
}
.favs ul.items li a.add:hover {
    color: darkorange;
    opacity: .9;
}
.favs ul.tools {
    float: right;
    list-style: none;
    font: normal 130%/150% "Trebuchet MS", sans-serif;
}

/* CONTENT */
#content {
    padding-bottom: 40px;
}

/* CONTENT TOOLBAR */
#content-toolbar * { vertical-align: middle; }
#content-toolbar {
    background: #eee;
    width: 100%;
}
#content-toolbar td { border: none; }

a.bl {
    display: block;
}
a.icn {
    padding-left: 20px;
    background: transparent url(../ico/16/foo.png) 0 50% no-repeat;
}
a.btn {
    padding-top: 4px; padding-bottom: 3px; padding-right: 4px;
    border: 1px solid #ddd;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
    background-color: #E9E8DD;
    margin: 3px 2px;
    text-decoration: none;
    color: #000;
}
a.btn.def {
    font-weight: bold;
    border-color: #ccc;
}
a:hover.btn {
    background-color: #EEEEE7;
    border-color: #77B150;
    color: #005F00;
}

a.btn.icn {
    background-position: 3px 50%;
    padding-left: 23px;
}

a.icn.logout { background-image: url(../ico/16/logout.png); }
a.icn.config { background-image: url(../ico/16/configure.png); }
a.icn.addfav { background-image: url(../ico/16/bookmark_add.png); }
a.icn.eclear { background-image: url(../ico/16/editclear.png); }
a.icn.home { background-image: url(../ico/16/gohome.png); }
a.icn.ok { background-image: url(../ico/16/ok.png); }
a.icn.cancel { background-image: url(../ico/16/cancel.png); }
a.icn.recur { background-image: url(../ico/16/recur.png); }
a.icn.na { background-image: url(../ico/16/na.png); }
a.icn.search { background-image: url(../ico/16/search.png); }
a.icn.filter { background-image: url(../ico/16/filter.png); }
a.icn.add { background-image: url(../ico/16/edit_add.png); }
a.icn.visible { background-image: url(../ico/16/14_layer_visible.png); }
a.icn.novisible { background-image: url(../ico/16/14_layer_novisible.png); }
a.icn.history { background-image: url(../ico/16/history.png); }
a.icn.web { background-image: url(../ico/16/web.png); }
a.icn.save { background-image: url(../ico/16/filesave.png); }
a.icn.saveas { background-image: url(../ico/16/filesaveas.png); }
a.icn.saveall { background-image: url(../ico/16/save_all.png); }
a.icn.edit { background-image: url(../ico/16/edit.png); }
a.icn.help { background-image: url(../ico/16/help.png); }
a.icn.idea { background-image: url(../ico/16/idea.png); }

a.btn.combo {
    padding-right: 18px; padding-left: 4px;
    background: #E9E8DD url(../ico/16/14_layer_lowerlayer.png) 100% 50% no-repeat;
}
a.btn.filter-active { background-color: #FFF8D1; }

/* HOMEPAGE CALENDAR */
.hpbox.calendar .cal { display: none; }

/* FOOTER */

#footer {
    background:#eee url(../img/nav-bg-reverse.gif) bottom left repeat-x;
    position: fixed; left: 0; bottom: 0; right: 0;
    clear: both;
    border-top: 1px solid #ccc;
    padding: 5px;
    text-align: right;
}

/* FORMS */
fieldset, legend { border: 1px solid #ddd; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; background: #fff; }
legend { padding: 2px 5px; }
label { display: block; clear: both; margin: 5px 0 2px 0; }
label.vCheckboxLabel { display: inline; margin-left: 10px; }
label.required { font-weight: bold; color: darkorange; }
div.submit-row, fieldset.submit-row { border: none; clear:both; margin-top: 5px; padding: 2px 0; text-align: right; }
input, textarea, select { padding: 2px 0; font: normal 100% Tahoma, Verdana, sans-serif; }
.ajax-form .form-metadata { display: none; }
input.vTextField { width: 500px; }
input.vIntegerField { width: 40px; text-align: right; }
input.vForeignKeyRawIdAdminField, input.target_id { width: 50px; }
input.vDateInput { width: 100px; }
input.vDateTimeInput { width: 120px; }

.form-row * { vertical-align: middle; margin: 2px 0; }

.form-error-msg { display: block; color: #d66; font-weight: bold; padding: 2px 0 2px 18px; background: url(../ico/16/messagebox_warning.png) 0 50% no-repeat; }

#changelist-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background-color: white;
    border: solid 2px blue;
    display: none;
}

#changelist-overlay #filters {
    top: 65px;
}
#err-overlay {
    bottom: 80px;
    right: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 2px solid #d66;
    padding: 5px;
    background: #fee;
}

#err-overlay p {
    cursor: pointer;
}
#err-overlay p:hover {
    text-decoration: underline;
}

/* FORMS : article change form */
.article-form-container { padding-left: 10px; }
.article-form-container .multicol { float: left; margin-right: 200px; }
/*.article-form-container .multicol.colX { margin-left: 200px; }*/
.article-form-container .multicol input { width: ; }
.article-form-container label { display: block; float: left; min-width: 100px; }
.article-form-container .publish-container label { float: none; }
.change-form .submit-row {
    position: fixed;
    bottom: 35px;
    right: 10px;
    border: 2px solid #d66;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    padding: 10px;
    background: #fff url(../img/nav-bg-reverse.gif) left top repeat-x;
}
.change-form .submit-row a {
    white-space: nowrap;
}

/* TABLES */
table {
    border-collapse: collapse;
}
td, th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 3px;
}
.inline-group td, .inline-group th {
    border: none;
}

#changelist table {
    width: 100%;
}
#changelist table thead tr { background: #ddd url(../img/nav-bg.gif) 0 100% repeat-x; }
#changelist table tbody tr.row1 { background: #fff; }
#changelist table tbody tr.row2 { background: #eeeeef; }
#changelist table tbody tr:hover { background: #ffc; }
#changelist table thead th.sorted { background: transparent url(../ico/16/14_layer_raiselayer.png) 98% 50% no-repeat; }
#changelist table thead th.sorted.descending { background-image: url(../ico/16/14_layer_lowerlayer.png); }
#changelist table tbody th { font-size: 120%; }

/* CHANGELIST ACTIONS */
#changelist .actions { padding: 5px; }
#changelist .actions label { display: inline; }

#changelist p.paginator {
    text-align: right;
    background: #ddd url(../img/nav-bg-reverse.gif) 0 0 repeat-x;
    padding: 3px 5px;
}

/* OPERATION MESSAGES */
#opmsg {
    position: fixed;
    top: -10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}
#opmsg span {
    padding: 5px 5px 5px 22px;
    border: solid 1px black;
    font-weight: bold;
    line-height: 26px;
    white-space: nowrap;
    background: lightyellow url(../ico/16/info.png) 2px 50% no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

}
#opmsg span.errmsg {
    background-color: orange;
    background-image: url(../ico/16/messagebox_warning.png);
}
#opmsg span.okmsg {
    background-image: url(../ico/16/ok.png);
}


/* HELP & HINT */
.hint-enhanced .hint, .help-enhanced .help {
    display: none;
}

/* OBJECT HISTORY (in change_form) */
#history {
    border: 1px outset #ddd;
    position: absolute;
    right: 6px;
    top: 168px;
    width: 70%;
    background: #eeeeec;
    display: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
}
#history div.module {
    margin: 10px;
    max-height: 300px;
    overflow: auto;
    background: #eee;
}

/* CHANGELIST FILTERS */
#filters {
    border: 1px outset #ddd;
    position: absolute;
    left: 6px; width: 70%;
    top: 168px;
    background: #eeeeec;
    display: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
}
div.pop #filters { top: 35px }

#filters div.module {
  margin: 5px;
  max-height: 200px;
  overflow: auto;
}

#filters div.filter {
    float: left;
    padding: 2px 0;
}

/* CHANGELIST CUSTOM TDs */
#changelist td span.unpublished, #changelist td span.published {
    background: transparent url(../ico/10/icon-yes.gif) 0 50% no-repeat;
    padding-left: 17px;
}
#changelist td span.unpublished {
    background-image: url(../ico/10/icon-no.gif);
}

/* FILTERS (UN)PACKING - TEMPORARY */
#filters ul {
    display: none;
    position: absolute;
    background-color: white;
    border: solid 1px #ddd;
    list-style: none;
    margin: 0;
}
#filters ul a { display: block; padding: 2px; border-bottom: 1px dotted #eee; }
#filters ul a:hover { color: #fff; background: #77B150; }
#filters .selected {
    font-weight: bold;
}

/* MODEL HELP CONTAINER */

div.model-help {
    font: normal 95%/130% "Trebuchet MS", Arial, sans-serif;
    border: 1px outset #ddd;
    position: absolute;
    top: 168px; right: 6px; min-width: 400px; width: 70%;
    opacity: .95;
    background: #fff url(../img/horst1.jpg) left bottom no-repeat;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    height: 410px;
}
div.model-help div.cnt {
    margin: 10px 10px 5px 200px;
    max-height: 360px;
    overflow: auto;
}
div.model-help .submit-row {
    margin: 10px 10px 10px 200px;
}
div.model-help h1, div.model-help h2, div.model-help h3, div.model-help h4, div.model-help p, div.model-help ul, div.model-help ol {
    margin: .5em 0 .3em 0;
}
div.model-help h2 { font-size: 130% }
div.model-help h3 { font-size: 120% }
div.model-help h4 { font-size: 105% }

/* WIDGETS etc. */
a.widget-thumb { border: 1px solid #ccc; margin-right: 5px; }

/* SORTABLE GALLERY ITEMS */
.gallery-items-sortable { background: #fff; border: 1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; }
.gallery-item { margin: 5px; padding: 5px; border: 1px solid #ddd; }
.gallery-item img.thumb { float: left; width: 80px; margin-right: 10px; }
.sortable-item { cursor: move; }
.sortable-item .gallery-item:hover { background: #77B150; }

/* OTHER */
#debug { position: absolute; top:0; left:0; right:0; bottom: 25px;background: #333; color: #fff; padding: 10px; z-index: 50; overflow: auto; opacity: .9; display: none; }
