/* Newman's dashboard (HP) styles */

div.hpcol { float: left; }
div.hpbox {
    background: #eeeeec;
    border: 1px outset #eee;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    margin: 10px 5px;
    min-width: 200px;
}
div.hpbox h3 {
    background: #ddd url(../img/nav-bg.gif);
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -khtml-border-top-left-radius: 7px;
    -khtml-border-top-right-radius: 7px;
    padding: 5px;
    margin: 0;
}
div.hpbox div.cnt { margin: 5px; }
div.hpbox.lastlog { float: right; }
div.hpbox.errmsg label, div.hpbox.errmsg input, div.hpbox.errmsg textarea { width: 99%; }
div.hpbox.calendar .ui-datepicker { width: 99%; padding: 0; border: none; }
div.hpbox.calendar .ui-widget-content { background: transparent; }
div.hpbox.calendar .ui-widget-content tbody { background: #eee; }

div.hpbox h3 span { padding-left: 22px; background: url(../ico/16/foo.png) 2px 50% no-repeat; }
div.hpbox.setup h3 span { background-image: url(../ico/16/configure.png); }
div.hpbox.calendar h3 span { background-image: url(../ico/16/1day.png); }
div.hpbox.lastlog h3 span { background-image: url(../ico/16/history.png); }
div.hpbox.search h3 span { background-image: url(../ico/16/search.png); }
div.hpbox.placements h3 span { background-image: url(../ico/16/vcalendar.png); }
div.hpbox.errmsg h3 span { background-image: url(../ico/16/messagebox_warning.png); }

div.hpbox.setup ul { list-style: none; margin: 0; }

div.lastlog ul { list-style: none; }
div.lastlog li.changelink { list-style-image: url(../ico/10/icon_changelink.gif); }
div.lastlog li.addlink { list-style-image: url(../ico/10/icon_addlink.gif); }
div.lastlog li.deletelink { list-style-image: url(../ico/10/icon_deletelink.gif); }
div.lastlog li span { font-size: 90%; }
