#lupicka-overlay {
    display: none;
    background-color: white;
    border: solid 2px blue;
    border-top-width: 20px;
    -moz-border-radius: 3px;
    position: fixed;
    top: 0;
    left: 0;
}
select.highlighted {
    border: solid 2px red;
}
