<h2>{{ apple }}</h2>

{% load comments.comments %}
{% get_comment_count for sample.apple apple.id as comment_count %}

<p>pocet prispevku: {{ comment_count }}</p>

{% get_comment_list for sample.apple apple.id as comment_list %}
<ul>
{% for comment in comment_list %}
<li>
<p>#{{forloop.counter}}</p>
<p>{{ comment }}</p>
{{ comment.as_html }}
</li>
{% endfor %}
</ul>

<form action="/comments/" method="post" id="comment_form">
<table>
{% get_comment_form for sample.apple apple.id with 'LO' as comment_form %}
{{ comment_form }}
</table>
<input type="submit" name="Comment" value="Comment" />
</form>

<p><a href="..">back</a></p>

<!!>

