{{ object|render:"current_text" }}
{% ifequal object.current_activity_state activity_active %}
    {% if not duplicate %}
        <form action="" method="post">
        {% for question, form in forms %}
            {{ question }}
            {% if form.choice.errors %}
                {{ form.choice.errors|join:"<br />" }}
            {% endif %}
            {% for choice, input in form.choices %}
                {{ input }}
            {% endfor %}
        {% endfor %}
        {{ contestant_form }}
        <input type="submit" />
        </form>
    {% endif %}
{% endifequal %}