{% spaceless %}
<div class="service-module model-log">
    <div class="service-module-in">
        <div class="cnt">
            <h2>{% trans 'Last edited objects' %}: {% trans ct.name %}</h2>
            {% if entry_list %}
                <ul class="actionlist">
                    {% for entry in entry_list %}
                        <li>
                            <h3>
                            {% if not entry.is_deletion %}
                                <a class="js-hashadr icn {% if entry.is_addition %}add{% endif %}{% if entry.is_change %}eclear{% endif %}" href="/{{ entry.content_type.app_label }}/{{ entry.content_type.model }}/{{ entry.object_id }}/">{{ entry.object_repr }}</a>
                            {% else %}
                                <a class="icn cancel">{{ entry.object_repr }}</a>
                            {% endif %}
                            </h3>
                            <span>
                                {% trans entry.content_type.name %}
                                | {{ entry.action_time|date:"Y-m-d H:i" }}
                                {% if user.is_superuser %}
                                | {{ entry.user }}
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "No entries." %}</p>
            {% endif %}
        </div>
        <div class="submit-row">
        <a href="service-container::::log/" class="icn btn js-simpleload cancel def">{% trans "Close" %}</a>
        </div>
    </div>
</div>
{% endspaceless %}
