{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url newman_admin_index %}#/nm/">{% trans "Home" %}</a>
        {% if app_label %}&rsaquo; <a class="hashadr" href="/{{ app_label }}/">{% trans app_label.title %}</a>{% endif %}
        {% if title %}&rsaquo; <strong id="doc-title">{{ title }}</strong>{% endif %}
    </div>
{% endblock %}

{% block content_toolbar %}
    <table id="content-toolbar">
        <tr>
            <td>{% block content_toolbar_left %}{% endblock %}</td>
            <td class="ar">{% block content_toolbar_right %}{% endblock %}</td>
        </tr>
    </table>
{% endblock %}

{% block content_services %}{% endblock %}

<div id="content-main">
{% block content %}{% endblock %}
</div>

{% block sidebar %}{% endblock %}
{% block content_js %}{% endblock %}
