{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url newman:index %}#/nm/">{% trans "Home" %}</a>
        {# % if app_label %}&rsaquo; <a class="js-hashadr" href="/{{ app_label }}/">{% trans app_label.title %}</a>{% endif % #}
        {% if title %}&rsaquo; <strong id="doc-title">{{ title }}</strong>{% endif %}
    </div>
{% endblock %}

{% comment prepared for overlay HTML in template, not in JS %}
{% block overlay_upbar %}
    {% if is_popup %}
        <div class="overlay-upbar">
            <div class="overlay-title"></div>
                <div class="overlay-closebutton">
                    <a class="icn cancel">{% trans 'Close' %}</a>
                </div>
            <div class="cb"/>
        </div>
    {% endif %}
{% endblock %}
{% endcomment %}

{% block content_toolbar %}
    <table id="content-toolbar">
        <tr>
            <td>{% block content_toolbar_left %}{% endblock %}</td>
            <td class="ar">{% block content_toolbar_right %}{% endblock %}</td>
        </tr>
    </table>
{% endblock %}

{% block content_services %}
    <div id="service-container"></div>
{% endblock %}

<div id="{% if is_popup %}overlay-{% endif %}content-main">
{% block content %}{% endblock %}
</div>

{% block sidebar %}{% endblock %}
{% block content_js %}{% endblock %}
