<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"cs" }}" xml:lang="{{ LANGUAGE_CODE|default:"cs" }}">
<head>
  <title>{% trans 'Ella administration' %}</title>
  <link rel="stylesheet" type="text/css" href="{{ NEWMAN_MEDIA_URL }}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ NEWMAN_MEDIA_URL }}css/top-navi.css" />
    <link rel="shortcut icon" href="{{ NEWMAN_MEDIA_URL }}ico/favicon.ico" type="image/x-icon" />
  <script type="text/javascript">
        var MEDIA_URL = '{{ NEWMAN_MEDIA_URL }}';
        var DJANGO_MEDIA_URL = '{{ DJANGO_MEDIA_URL }}';
        var BASE_URL = '{% url newman:index %}';
        var LOGGED_IN = '{% if user.is_authenticated %}1{% endif %}';
        var DEBUG = '{% if DEBUG %}1{% endif %}';
        var MEDIA_VERSION = '{{ VERSION }}';
        {% newman_contenttypes %}
    </script>
  <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body>
{% block control-version-string %}{% endblock %}

{% spaceless %}
<div id="container">

    {% if not is_popup and user.is_authenticated %}
        <div id="header">
            <div id="navi-top">{% load newman %}{% newman_topmenu %}</div>
            <div class="favs">{% newman_favorites %}</div>
        </div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div class="cb"></div>

    {% if user.is_staff %}
        {% block footer %}
            <div id="footer">
                <div class="user-tools">
                    <strong>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user|capfirst }}{% endif %} ({{ user.last_login|date:"j.n. H:i" }})</strong>
                    {# | {% trans "What's new?" %} #}
                    {% if DEBUG %}
                        | {{ VERSION }}, {{ SERVER_INFO.type }}
                        | <a class="icn visible" onclick="$('#debug').toggle()">debug log</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        | <a href="{% url newman:index %}django-admin/">Django admin</a>
                    {% endif %}
                    | <a class="icn eclear js-simpleload" href="service-container::::/password_change/">{% trans 'Change password' %}</a>
                    | <a class="icn logout" href="{% url newman:logout %}?next={% url newman:index %}">{% trans 'Log out' %}</a>
                </div>
            </div>
        {% endblock %}
     {% else %}
       <div class="clear"></div>
     {% endif %}
</div>
<!-- END Container -->
{% if user.is_staff %}
    <script type="text/javascript" src="{% url newman:jsi18n %}"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}js/json2-min.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}jquery/jquery-1.4.3.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}js/inheritance.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}js/utils.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}js/kobayashi.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}js/newman.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ NEWMAN_MEDIA_URL }}js/inlines.js"></script>
    <!-- request_media block -->
    <script type="text/javascript">
        request_media('{{ NEWMAN_MEDIA_URL }}jquery/jquery.alerts.js');
        request_media('{{ NEWMAN_MEDIA_URL }}jquery/jquery.alerts.css');
    </script>
    <!-- end requeste media -->
{% endif %}

{% endspaceless %}
{% if DEBUG %}<div id="debug"></div>{% endif %}
<div id="opmsg"></div>
</body>
</html>
