{% load newman_list %}
{% spaceless %}
{% block filters %}
    {% if cl.has_filters %}
        <div class="module">
        {% for spec in cl.filter_specs %}
           {% newman_list_filter cl spec %}
        {% endfor %}
            <div class="filter">
                <h4>
                <a 
                    class="btn combo{% if is_user_category_filtered %} filter-active{% endif %}"
                >{% trans "By" %} {% trans "Category-filter" %}</a>
                </h4>
                <div id="id-main-category-filter">
                {# this div is handled by JavaScript (Ajax widget -- Filtering by main categories). #}
                </div>
            </div>
        </div>
        <div style="margin: 10px;">
            <a class="icn btn cancel">{% trans "Close" %}</a>
        </div>
    {% endif %}
{% endblock %}
{% endspaceless %}
