{% extends "newman/base_site.html" %}

{% block favs %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="login">
    <div id="content-main" class="content-main">
	    {% if info_browser_message %}
	    <div class="browser-notice">
			<h3>Tento prohlížeč není plně podporován.</h3>
			<p>K zaručení plné funkčnosti publikačního systému vám doporučujeme používat internetový prohlížeč <strong>Mozilla Firefox</strong> (<a href="http://firefox.mozilla.cz/stahnout/">stáhnout Firefox</a>) nebo <strong>Google Chrome</strong> (<a href="http://www.google.com/chrome/">stáhnout Chrome</a>).</p>
		</div>
	    {% endif %}
	    {% if error_message %}
	    <p class="errornote">{{ error_message }}</p>
	    {% endif %}
	    <form action="{{ app_path }}" method="post" id="login-form" class="login-form">{% csrf_token %}
	      <div class="form-row">
	        <label for="id_username">{% trans 'Username:' %}</label> <input type="text" class="text" name="username" id="id_username" />
	      </div>
	      <div class="form-row">
	        <label for="id_password">{% trans 'Password:' %}</label> <input type="password" class="text" name="password" id="id_password" />
	        <input type="hidden" name="this_is_the_login_form" value="1" />
	        <input type="hidden" name="next" id="next" value="" />
	      </div>
	      <div class="submit-row">
	        <input type="submit" class="submit" value="{% trans 'Log in' %}" />
	      </div>
	    </form>

	    <script type="text/javascript">
	    document.getElementById('id_username').focus()
	    if (location.hash) { document.getElementById('next').value = location.hash; }
	    </script>
    </div>
</div>
{% endblock %}
