{% load cache %}
{% cache 300 'nm-modhelp' ct %}
{% spaceless %}
<div class="service-module model-help">
    <div class="service-module-in">
        <div class="cnt">
            <h2>{% trans 'Help for object' %}: {% trans ct.name %}</h2>
            {% if model_help %}
                <p><strong>{{ model_help.short }}</strong></p>
                {{ model_help.long|safe }}
            {% endif %}

            {% if fields_help %}
                <h3>{% trans 'Fields help' %}</h3>
                {% for h in fields_help %}
                    <h4>{{ h.verbose_name }} &mdash; {{ h.short }}{% if h.help_text %} &mdash; {{ h.help_text }}{% endif %}</h4>
                    {{ h.long|safe }}
                {% endfor %}
            {% endif %}

            <h3>{% trans 'Model doc' %}</h3>
            <p>{{ model_doc }}</p>
        </div>
        <div class="submit-row">
            <a href="service-container::::help/" class="icn btn cancel js-simpleload">{% trans 'Close' %}</a>
        </div>
    </div>
</div>
{% endspaceless %}
{% endcache %}
