{% spaceless %}
<div class="service-module change-password">
    <div class="service-module-in">
        <div class="cnt">
        	<h3>{% trans "Password change" %}</h3>
			<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

			<form action="{% url newman:password_change %}" method="post" class="js-form" onsubmit="return checkForm(this);">
                {% csrf_token %}
			    <fieldset>
			        {{ form.old_password.errors }}
			        <p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label>{{ form.old_password }}</p>
			        {{ form.new_password1.errors }}
			        <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
			        {{ form.new_password2.errors }}
			        <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
			    </fieldset>
			
			    <fieldset class="submit-row">
		            <a href="service-container::::/password_change/" class="icn btn js-simpleload cancel def js-reset">{% trans "Cancel" %}</a>
                    <a class="icn btn ok def js-submit">{% trans "Change my password" %}</a>
			    </fieldset>
			</form>
			<script type="text/javascript">
				function checkForm(frm) {
					if (frm.old_password.value == "") {
						alert('Blaaa');
						return false;
					}
					return true;
				}
			</script>
		</div>
	</div>
</div>
{% endspaceless %}
