Source: centrum-python-ella-auto
Section: python
Priority: optional
Maintainer: Jan Kral <jan.kral@centrumholdings.com>
Uploaders: Ondrej Kohout <ondrej.kohout@centrumholdings.com>, Jakub Vysoky <jakub.vysoky@centrumholdings.com>, Lukas Linhart <lukas.linhart@centrumholdings.com>
Build-Depends: cdbs (>= 0.4.41), debhelper (>= 5.0.37.2), python-dev, python-support (>= 0.3), python-setuptools, centrum-python-setuptoolsdummy
Standards-Version: 3.7.2

# add Provides, Conflicts, Replaces for centrum-ella, python-ella
Package: centrum-python-ella-auto
Provides: centrum-python-ella, centrum-python-ella-auto-0.0.0.0
Conflicts: centrum-python-ella
Replaces: centrum-python-ella
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-django, python-docutils
Description: Ella Django CMS Project

