{% load i18n admin_modify adminmedia %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url admin_index %}">{% trans "Home" %}</a>
        {% if app_label %}&rsaquo; <a class="hashadr" href="/{{ app_label }}/">{% trans app_label.title %}</a>{% endif %}
        {% if title %}&rsaquo; <strong id="doc-title">{{ title }}</strong>{% endif %}
    </div>
{% endblock %}

{% block content_toolbar %}
    <div id="content-toolbar">
        {% block content_toolbar_content %}{% endblock %}
        <div class="cb"></div>
    </div>
{% endblock %}

{% block content_services %}{% endblock %}

<div id="content-main">
{% block content %}{% endblock %}
</div>

{% block sidebar %}{% endblock %}
{% block content_js %}{% endblock %}
