{% load adminmedia admin_list i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../">{% trans "Home" %}</a>
        &rsaquo; <a href="../">{{ app_label|capfirst }}</a>
        &rsaquo; <strong>{{ cl.opts.verbose_name_plural|capfirst }}</strong>
    </div>
{% endblock %}

{% block content %}
<div id="content-main">

    {% block object-tools %}
        <div id="cl-toolbar">
                <ul class="object-tools">
                    <li><a class="icn btn filter simpleload" href="filters::::filters/{{ cl.get_query_string }}">{% trans 'Filters' %}</a></li>
                    {#% block search %}{% search_form cl %}{% endblock %#}
                    {% if has_add_permission %}
                        <li>
                            <a href="add/" class="hashadr icn btn add">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="cb"></div>
        </div>
    {% endblock %}

    {% block filters %}
        <div id="filters"></div>
    {% endblock %}

    <div class="hashadr-container" id="changelist">
        {% block result_list %}{% result_list cl %}{% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
    </div>
</div>

{% endblock %}
