{% extends "admin/ajax_content_base.html" %}
{% load i18n admin_modify adminmedia %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url admin_index %}">{% trans "Home" %}</a>
    &rsaquo; <a class="hashadr" href="{% url admin_index %}{{ app_label }}/">{% trans app_label.title %}</a>
    &rsaquo; {% if has_change_permission %}<a class="hashadr" href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    {% if title %}&rsaquo; <strong id="doc-title">{{ title }}</strong>{% endif %}
</div>
{% endblock %}

{% spaceless %}
{% block content_toolbar_content %}
    <ul style="float: left;">
        <li><a class="icn btn save" id="save-form">{% trans "Save as template" %}</a></li>
        <li>{{ draft_form }}</li>
    </ul>
    {% if change %}
        <ul style="float: right">
            <li><a href="history::::history/" class="icn btn simpleload history">{% trans "History" %}</a></li>
            {% if has_absolute_url %}
                <li><a href="{% url admin_index %}r/{{ content_type_id }}/{{ object_id }}/" class="icn btn web">{% trans "View on site" %}</a></li>
            {% endif%}
        </ul>
    {% endif %}
{% endblock %}
{% endspaceless %}


{% block content_services %}
<div id="history"></div>
{% endblock %}

{% block content %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" class="change-form">{% block form_top %}{% endblock %}
<div>
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% block fieldsets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

</div>
</form>
{% endblock %}

{% block content_js %}
    {{ block.super }}
    {# JavaScript for prepopulated fields #}
    {% prepopulated_fields_js %}

    <script type="text/javascript">
    {% for m in media %}
        request_media('{{ m }}?{{ VERSION }}');
    {% endfor %}
    </script>
{% endblock %}
