{# extends "admin/base_site.html" #}
{% load adminmedia admin_list i18n %}

{% block content %}
{% comment %}
    {% if cl.has_filters %} filtered {% endif %}

{
    {% block filters %}
        {% if cl.has_filters %}
            {% for spec in cl.filter_specs %}
   "filter":
   {
               {% admin_list_filter cl spec %}
   }{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
}
{% endcomment %}

    {% block filters %}
        {% if cl.has_filters %}
            {% for spec in cl.filter_specs %}
               {% admin_list_filter cl spec %}
            {% endfor %}
        {% endif %}
    {% endblock %}

{% endblock %}
