{% extends "admin/base.html" %}
{% load newman log cache %}

{% block content %}

<div class="hpcol" style="width: 25%;">

    <div class="hpbox setup">
        <h3>{% trans "Quick Settings" %}</h3>
        <div class="cnt">
            <form class="ajax-form" action="{% url newman-save-filters %}" method="post">
                <fieldset>
                    <legend>{% trans "Category-filter" %}</legend>
                    {{ site_filter_form.sites }}
                </fieldset>
                <fieldset class="submit-row">
                    <a class="icn btn eclear">{% trans "Clear" %}</a>
                    <a class="icn btn ok def">{% trans "Save" %}</a>
                </fieldset>
                <div class="form-metadata">
                    <input type="hidden" name="success" onchange="location.reload()" />
                </div>
            </form>
        </div>
    </div>

    <div class="hpbox errmsg">
        <h3>{% trans "Report Error" %}!</h3>
        <div class="cnt">
            <form class="ajax-form reset-on-submit" action="{% url newman-err-report %}" method="post">
                <label for="id_err_subject" class="required">{% trans "Subject" %} <span class="help"></span></label>
                <input id="id_err_subject" name="err_subject" type="text" />
                <label for="id_err_message" class="required">{% trans "Message" %}</label>
                <textarea id="id_err_message" name="err_message" rows="4" cols="53"></textarea>
                <div class="submit-row">
                    <a class="icn btn eclear">{% trans "Clear" %}</a>
                    <a class="icn btn ok def" title="{% trans "Click to report a bug" %}">{% trans "Send" %}</a>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="hpcol" style="width: 50%;">

    <div class="hpbox search" id="search-form">
        <h3>{% trans "Search" %}</h3>
        <div class="cnt">
            <input type="text" name="q"/>
            <select name="action" size="1">
                <option value="">{% trans 'All' %}...</option>
                {% for ct in searchable_content_types %}
                    <option value="/{{ ct.app_label }}/{{ ct.model }}/">{% trans ct.name %}</option>
                {% endfor %}
            </select>
            <a class="icn btn search def">{% trans 'Go' %}</a>
        </div>
    </div>

    {% cache 600 devmsgs user.username %}
    {% get_devmsgs as msgs %}
    <div class="hpbox devmsgs">
        <h3>{% trans "Development News" %}</h3>
        <div class="cnt">
            {% for msg in msgs %}
                <div class="item">
                    <h4><a href="{{ msg.slug }}">{{ msg.title }}</a></h4>
                    <p>{{ msg.author.get_full_name }} | {{ msg.ts|date:"j.n.'y H:i" }} | {{ msg.version }}</p>
                    <p>{{ msg|render:"summary" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endcache %}

</div>

<div class="hpcol" style="width: 25%;">

    <div class="hpbox lastlog">
        <h3>{% trans "Your Recent Actions" %}</h3>
        <div class="cnt">
            {% get_admin_log 15 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="/#/{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

</div>
<!-- Last changelist filters state -->
<script type="text/javascript">
var changelistFilters = {};
{% for fname, qstring in last_filters.items %}
changelistFilters["{{ fname }}"] = "{{ qstring }}";
{% endfor %}
</script>

{% endblock %}

