{% extends "admin/base.html" %}
{% load newman log cache %}

{% block content %}

<div class="hpcol" style="width: 25%;">

    <div class="hpbox setup">
        <h3>Rychlá nastavení</h3>
        <div class="cnt">
            <form method="post">
                <fieldset>
                    <legend>Site-filter</legend>
                    <label><input type="checkbox" /> žena</label><br />
                    <label><input type="checkbox" /> zdraví</label><br />
                    <label><input type="checkbox" /> útulně</label><br />
                    <label><input type="checkbox" /> špunt</label><br />
                    <label><input type="checkbox" /> horoskopy</label><br />
                    <label><input type="checkbox" /> recepty</label>
                </fieldset>
                <fieldset class="submit-row">
                    <a class="icn btn eclear">Vyčistit</a>
                    <a class="icn btn ok def">Uložit</a>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="hpbox errmsg">
        <h3>Nahlásit chybu!</h3>
        <div class="cnt">
            <label for="err_subj" class="required">Předmět <span class="help"></span></label>
            <input id="err_subj" name="subj" type="text" />
            <label for="err_text" class="required">Zpráva</label>
            <textarea id="err_text" name="msg" rows="4"></textarea>
            <div class="submit-row">
                <input type="hidden" name="action" value="/nm/err-report/" />
                <a class="icn btn eclear">Vyčistit</a>
                <a class="icn btn ok def" title="Kliknutím odešlete zprávu o chybě...">Odeslat</a>
            </div>
        </div>
    </div>

</div>

<div class="hpcol" style="width: 50%;">

    <div class="hpbox search">
        <h3>Hledat</h3>
        <div class="cnt">
            <input type="text" name="q"/>
            <select name="ct" size="1">
                <option value="">all</option>
                <option value="1">Articles</option>
            </select>
            <a class="icn btn search def">{% trans 'Go' %}</a>
        </div>
    </div>

    {% cache 600 devmsgs user.username %}
    {% get_devmsgs as msgs %}
    <div class="hpbox devmsgs">
        <h3>Zprávy o vývoji...</h3>
        <div class="cnt">
            {% for msg in msgs %}
                <div class="item">
                    <h4><a href="{{ msg.slug }}">{{ msg.title }}</a></h4>
                    <p>{{ msg.author.get_full_name }} | {{ msg.ts|date:"j.n.'y H:i" }} | {{ msg.version }}</p>
                    <p>{{ msg|render:"summary" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endcache %}

</div>

<div class="hpcol" style="width: 25%;">

    <div class="hpbox lastlog">
        <h3>Vaše poslední akce</h3>
        <div class="cnt">
            {% get_admin_log 15 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="/#/{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}

