{% extends "newman/change_form.html" %}
{% load newman_modify cache %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url newman_admin_index %}#/nm/">{% trans "Home" %}</a>
    &rsaquo; <a class="js-hashadr" href="../../../">{% trans app_label.title %}</a>
    &rsaquo; {% if has_change_permission %}<a class="js-hashadr" href="../../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% trans "Categories" %}
    {% if title %}&rsaquo; <strong id="doc-title">{{ title }}</strong>{% endif %}
</div>
{% endblock %}

{% block content_toolbar %}{% endblock %}
{% block content_services %}{% endblock %}

{% block fieldsets %}
    {% if adminforms %}
        {% for adminform in adminforms %}
            {% for fieldset in adminform %}
                <div class="position-small" style="width: 32%; float: left; overflow: auto;">
                    {% include "newman/includes/fieldset.html" %}
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>{% trans "This category doesn't have any positions, or they aren't registered for multiple editation" %}</p>
    {% endif %}

    <div class="js-form-metadata">
        <input type="hidden" name="post_save" id="swim-2-levels-up" />
        <script type="text/javascript">
            $('#swim-2-levels-up').data('callback', function() {
                return { _save_: function() { adr('../../'); } };
            });
        </script>
    </div>

    <script type="text/javascript">
        // Disable name inputs
        $('input').filter( function() {
            return /^\d+-name$/.test(this.name);
        }).attr({readonly:'readonly'});
    </script>
{% endblock %}

{% block content_js %}
    {% cache 300 'nm-cf-pos-js' adminforms %}
    {% if media %}
        <script type="text/javascript">
        {% for m in media %}
        request_media('{{ m }}?{{ VERSION }}');
        {% endfor %}
        </script>
    {% endif %}

    {% endcache %}
{% endblock %}
