/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUpHeader .italic a {
    background-image:url(images/italic.png);
}
.markItUpHeader .bold a {
    background-image:url(images/bold.png);
}
.markItUpHeader .url a {
    background-image:url(images/link.png);
}

.markItUpHeader .h1 a {
    background-image:url(images/h1.png);
}
.markItUpHeader .h2 a {
    background-image:url(images/h2.png);
}
.markItUpHeader .h3 a {
    background-image:url(images/h3.png);
}

.markItUpHeader .list-bullet a {
    background-image:url(images/list-bullet.png);
}
.markItUpHeader .list-numeric a {
    background-image:url(images/list-numeric.png);
}

.markItUpHeader .quote a {
    background-image:url(images/quotes.png);
}

/* ella specific */
.markItUpHeader .photo a {
    background-image:url(../../../../ico/ct/16/photo.png);
}
.markItUpHeader .gallery a {
    background-image:url(../../../../ico/ct/16/gallery.png);
}
.markItUpHeader .box a {
    background-image:url(images/box.png);
}
.markItUpHeader .preview a {
    background-image:url(../../../../ico/16/search.png);
}
.markItUpHeader .preview_on_site a {
    background-image:url(../../../../ico/16/web.png);
}

#o-quick li {
    cursor:pointer;float:left;margin-right:10px;padding:2px;font-size:1.3em;list-style:none;border-bottom:1px dashed #000;
}


