/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .italic a {
	background-image:url(images/italic.png);
}
.markItUp .bold a {
	background-image:url(images/bold.png);
}
.markItUp .url a {
	background-image:url(images/link.png);
}

.markItUp .h1 a {
	background-image:url(images/h1.png);
}
.markItUp .h2 a {
	background-image:url(images/h2.png);
}
.markItUp .h3 a {
	background-image:url(images/h3.png);
}

.markItUp .list-bullet a {
	background-image:url(images/list-bullet.png);
}
.markItUp .list-numeric a {
	background-image:url(images/list-numeric.png);
}

.markItUp .quote a {
	background-image:url(images/quotes.png);
}
.markItUp .box a {
	background-image:url(images/box.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}

#o-quick li {
	cursor:pointer;float:left;margin-right:10px;padding:2px;font-size:1.3em;list-style:none;border-bottom:1px dashed #000;
}


