/* RICH TEXT AREA */
.rich_text_area {
	font-family:monospace;
	height:500px;
	width:500px;
	float: left;
}
.rich_text_area.small {
	height: 100px;
}
ul#rich_toolbar li {
	display:inline;
	margin:0pt 3px;
	padding:2px 5px;
	cursor: pointer;
	background: #ddd;
	border: 1px outset #ddd;
}


#rich_preview * {
	background: transparent;
	color: #000;
	text-align: left;
	margin: 0; padding: 0;
}
#rich_preview {
	background: #ffe;
	float: left;
	font: normal 9pt "Trebuchet MS", Arial, Verdana, sans-serif;
	padding: 3px 5px;
	margin: 0 5px;
	border: 1px solid #ddd;
/*	width: 400px;
        height: 500px; */
        width: 500px;
	height: 300px;
	overflow: auto;
}

#rich_preview p, #rich_preview ul, #rich_preview ol {
	margin: .8em auto;
}
#rich_preview ul, #rich_preview ol, #rich_preview li {
	margin-left: 1.2em;
}
#rich_preview h1, #rich_preview h2 {
	font-size: 11pt;
	margin: .3em 0;
}
#rich_preview h2 {
	font-size: 10pt;
}
#rich_preview a, #rich_preview a:link, #rich_preview a:visited {
	text-decoration: underline;
	color: #3C568A;
}

#boxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: #000;
	opacity: 0;
}

#boxPane {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 200;
	background: #ffb;
	width: 400px;
	height: 330px;
	margin: -165px 0 0 -200px;
	padding: 10px;
	text-align: left;
	border: 1px solid #999;
	opacity: 0;
}

#boxPane a#boxPaneClose {
	display: block;
	float: right;
	color: #333;
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 1px 3px;
}
#boxPane a#boxPaneClose:hover { border-color: #777; }

#boxPane div.title { color: #555; font-size: .85em; }
#boxPane div.input { margin-bottom: 10px; }
#boxPane div.input input,
#boxPane div.input select,
#boxPane div.input textarea { width: 99%; }
#boxPane div.input textarea { height: 65px; }
#boxPane div#quick { font-size: .95em; }
#boxPane div#quick a { margin-right: 10px; }
#boxPane input#id { width: 360px; }
#boxPane input#search { width: 20px; height: 20px; background: #fff url(../img/admin/selector-search.gif) no-repeat 50% 50%; border: 1px solid #ccc; }
#boxPane #submit { text-align: right; float: right; }
#boxPane #submit input { width: 100px; height: 25px; }

div#photo {
	padding: 10px;
	width: 125px;
	background: #ffb;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -32px 0 0 -400px;
	display: none;
}
div#photo h2 { margin: 0; padding: 0; }
div#photo div { margin-left: 5px; padding: 1px; }
div#photo div * { padding: 0; margin: 0; }

#rich_preview div.box-object {
	width: 150px;
	background: #E7B52C;
	border: 1px solid #ccc;
	font-weight: bold;
	margin: 2px;
	text-align: center;
	padding: 50px 0;
	font-size: 1.5em;
	color: #fff;
	cursor: pointer;
	float: right;
}
